{% load static %}
<div class="" style="text-align: center;">
	 <img class="" style="width:60px;height:60px;" src="{%static "images/confirmation.png" %}" alt="User Image">
	 <h4><b>Cotizacion</b></h4>
</div>

<table id="productsAdmin" class="display mx-auto table table-striped table-bordered" style="width:90%">
			<thead class="thead-dark">
					<tr>
							<th>Nombre</th>
							<th>cant</th>
							<th>price</th>
							<th>Total</th>
					</tr>
			</thead>
			{%for value in data%}
				<tr>
					<td>{{value.name}}</td>
					<td>
						<input id="cant-{{forloop.counter}}" onchange="action_cotizacion({{forloop.counter}})" class="inputcant" dataid={{forloop.counter}} type="number" name="" min="0" value="0">
					</td>
					<td><label id="price-{{forloop.counter}}">{{value.price}}</label></td>
					<td>
						<input id="total-{{forloop.counter}}" datatotal={{forloop.counter}} type="number" name="" value="0" min="0" disabled>
					</td>
				</tr>
			{%endfor%}
			<td><b style="font-weight: bold;">Total de Cotizacion</b></td>
			<td>----</td>
			<td>----</td>
			<td><label id="monedacotizador" style="position:absolute;"></label><label id="totalcotizaciongeneral" style="font-weight: bold;margin-left: 10px;"></label></td>


	</table>
