<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>A nombre de: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>Christian Vigliotti</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>DNI: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>95779107</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Cuenta: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>4008777-7 025-2</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>CBU: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>00700252-31004008777726</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Nombre del Banco: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>Banco Galicia</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Moneda: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>USD</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;">
  <p>Total en USD:</p>
</div>
<div class="col-md-6" style="border-left:3px solid white; background-color:#dddddc;">
  <b>{{totalCompleto}}</b>
</div>
