<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>A nombre de: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b> MIGUEL VIVAS </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Numero de cuenta, Ahorro: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>201800579261 </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Nombre del Banco: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>Banesco Panama</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Moneda: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>PAB/USD</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;">
  <p>Total en PAB/USD:</p>
</div>
<div class="col-md-6" style="border-left:3px solid white; background-color:#dddddc;">
  <b>{{totalCompleto}}</b>
</div>
