<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Email: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>alvarox13@hotmail.com </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Moneda: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>USD</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;">
  <p>Total en USD:</p>
</div>
<div class="col-md-6" style="border-left:3px solid white; background-color:#dddddc;">
  <b>{{totalCompleto}}</b>
</div>
