<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>A nombre de: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>Victor Jesus Peña Blanco</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Cuenta Ahorro (USD): </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>1630581665 </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Cuenta de Ahorro (PEN): </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>1630581658</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Nombre del Banco: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>Banco Scotiabank</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Moneda: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>PEN/USD</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;">
  <p>Total en PEN/USD:</p>
</div>
<div class="col-md-6" style="border-left:3px solid white; background-color:#dddddc;">
  <b>{{totalCompleto}}</b>
</div>
