<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>A nombre de: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>Alvaro Jesus Pena Blanco</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>CitiBank Checking: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>9144267139 </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>ABA: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>266086554 </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Dirección Facturación: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b> 615 NE 22nd ST Apt 306, Miami Florida 33137 </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Zelle: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b> alvarox13@hotmail.com </b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Nombre del Banco: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>CitiBank</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;margin-top: 10px;">
  <p>Moneda: </p>
</div>
<div class="col-md-6" style="border-left:3px solid white;background-color:#dddddc;margin-top: 10px;">
  <b>USD</b>
</div>
<div class="col-md-6" style="background-color:#dddddc;">
  <p>Total en USD:</p>
</div>
<div class="col-md-6" style="border-left:3px solid white; background-color:#dddddc;">
  <b>{{totalCompleto}}</b>
</div>
