{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
<body class="animsition" translate="no">
	{% include "market/header.html" %}
	<div class="container">
		<div class="col-md-12">
			<h4 class="page-title" style="text-align:center;margin-top: 5%;margin-bottom: 5%;"><b style="font-weight:600;">Historial de Compras</b>
				<div class="m-l-25 m-lr-0-xl">
					<img class="" style="height:60px;" src="{%static "/images/historial.png" %}" alt="User Image">
				</h4>
				<div class="wrap-table-shopping-cart">
					<table class="table-shopping-cart">
						<tr class="table_head" id="" style="text-align: center;">
							<th>Còdigo de Compra</th>
							<th>Fecha</th>
							<th>Total</th>
							<th>Tipo de Pago</th>
							<th>Estado de Compra</th>
						</tr>
						{%for value in data%}
						<tr>
								<td class='column-1'>
									<div class="">
										<a href="/detalles/?code={{value.code_purchase}}" data-toggle="tooltip" title="Detalles">{{value.code_purchase}}</a>
									</div>
								</td>
								<td style="text-align: center;padding-right: 10px;" class='column-2'>
									<div class=''>
										<h4 style='font-size: 13px;'>{{ value.start_date|date:'d/m/Y' }} {{ value.start_date|time:'h:i a' }}</h4>
									</div>
								</td>
								<td style="text-align: center;padding-right: 10px;" class='column-3'>
									<div class=''>
										<h4 style='font-size: 13px;'>{{value.total}}</h4>
									</div>
								</td>
								<td style="text-align: center;padding-right: 10px;" class='column-4'>
									<div class=''>
										<h4 style='font-size: 13px;'>{{value.payment_type}}</h4>
									</div>
								</td>
								<td class='column-5'>
									<div class=''>
										{%if value.state == 1%}
											<span class="badge badge-danger">Anulada</span>
										{%elif value.state == 2%}
											<span class="badge badge-warning">Pendiente</span>
										{%else%}
											<span class="badge badge-success">Confirmada</span>
										{%endif%}
									</div>
								</td>
						</tr>
						{%endfor%}
					</table>
				</div>
			</div>
		</div>
	</div>

	{% include "market/banner.html" %}
  <!-- -->
  {% include "market/footer.html" %}
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
		{% include "market/scripts.html" %}
</body>
</html>
