{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
	<style>
		.abajo {
    	border-bottom: 1px solid #ccc;
		}
	</style>
<body class="animsition">
	{% include "market/header.html" %}


  <div class="container" style="margin-top:100px;font-size:medium;">
    <div class="row">
       <div class="col-md-12" style="margin-top:20px;margin-bottom:100px;text-align:center;">
         <div class="">
            <img class="" style="width:60px;height:60px;" src="{%static "images/confirmation.webp" %}" alt="User Image">
            <h4><b style="font-weight:600;">Ya hemos recibido su compra</b></h4>
            <h5>Enviamos los detalles de la factura a su email <b style="font-weight:600;">{{email}}</b></h5>
         </div>
       </div>
    </div>
  </div>

	<div class="container">
		<div class="col-md-12">
			<h4 class="page-title" style="text-align:center;margin-top: 5%;margin-bottom: 5%;"><b style="font-weight:600;">Su pedido fue el siguiente</b>
				<div class="m-l-25 m-lr-0-xl">
					<img class="rounded-circle" style="height:60px;" src="{%static "images/orderfinal.png" %}" alt="User Image">
				</h4>
				<div class="wrap-table-shopping-cart">
					<table class="table-shopping-cart">
						<tr class="table_head" id="dinamicItems">
							<th class="column-1">Productos</th>
							<th class="column-2">Nombre</th>
							<th class="column-3">Precio/Cantidad</th>
							<th class="column-4">Total</th>
							<th class="column-5"></th>
						</tr>
						{%for value in compra%}
							<tr>
								{%for k,v in value.items|dictsort:"0.lower" %}
									{% if k == 'image'%}
										<td class='column-1'>
											<div class=''>
												<img style='border-radius:10px;width: 100px;' src="{{v}}" alt="">
											</div>
										</td>
									{%else%}
										<td class='column-{{forloop.counter}}'>
											<div class=''>
												<h4 style='font-size: 13px;'>{{v}}</h4>
											</div>
										</td>
									{%endif%}
								{%endfor%}
							</tr>
						{%endfor%}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12" style="margin-top: 110px;">
			<div class="2">
				<h4 class="mtext-109 cl2 p-b-30">
					Total de su compra
				</h4>

				<div class="flex-w flex-t bor12 p-b-13">
					<div class="size-208">
						<span class="stext-110 cl2">
							Subtotal:
						</span>
					</div>
					<div class="size-209">
						<span class="mtext-110 cl2">${{totalGeneral}}</span>
					</div>
				</div>
				<div class="flex-w flex-t bor12 p-b-13">
					<div class="size-208">
						<span class="stext-110 cl2">
							Costo de Envio:
						</span>
					</div>
					<div class="size-209">
						<span class="mtext-110 cl2">
							<b>$</b><b>{{costoenvio}}</b>
						</span>
					</div>
				</div>

				<div class="flex-w flex-t bor12 p-t-15 p-b-30">
					<div class="size-208 w-full-ssm">
						<span class="stext-110 cl2">
							Direccion de envio:
						</span>
					</div>


				</div>

				<div class="flex-w flex-t p-t-27 p-b-33">
					<div class="size-208">
						<span class="mtext-101 cl2">
							Total:
						</span>
					</div>

					<div class="size-209 p-t-1">
						<span class="mtext-110 cl2"><b style="font-weight:600;">$</b><b style="font-weight:600;">{{totalCompleto}}</b></span>
					</div>
				</div>


			</div>
		</div>

	</div>
	<div class="container">
		<div class="row" style="border: 1px solid darkgray;">
			<div class="col-md-12" style="margin-top:20px;margin-bottom:40px;text-align:center;">
				<div class="">
					<img class="rounded-circle" style="margin-top:-60px;width:60px;height:60px;" src="{%static "images/transferencia.jpg" %}" alt="User Image">
					<h4 style="color:#6c7ae0"><b style="font-weight:600;">Detalles de Pago</b></h4>
				</div>
			</div>
			<div class="col-md-6">
				<p>Su compra fue realizada con éxito en Criollitos.</p>
				<p style="color:black;"><u>Código de Compra</u>: <b style="font-weight:600;">{{code}}</b></p><br>
			</div>
			<div class="col-md-6" style="margin-bottom: 20px;">
				<p>Su método de Pago seleccionado fue por medio de: <b style="font-weight:600;">{{tipoPago}} - {{lugarpago}}</b>. <br>Haganos una transferencia a la siguiente cuenta:</p>
			</div>
			<!-- cuentasTransferencia -->
			{% with templatecountry=lugarpago|add:".html" %}
			{% include "market/cuentas/"|add:templatecountry %}
			{% endwith %}
			<div class="col-md-12" style="margin-top:20px;">
				<b style="color:red;font-weight:600;">NOTA:</b> Envíe el número de <u><b style="font-weight:600;">referencia completo del pago</b></u>, o el <u><b style="font-weight:600;">capture</b></u> de la transferencia con el <u><b style="font-weight:600;">código de compra</b></u> en el siguiente enlace: <a href="/help/">REPORTE EL PAGO<a>
				</div>
			</div>

	</div>

	<!-- Banner -->
	{% include "market/banner.html" %}

	<!-- Product -->
	{% include "market/footer.html" %}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	{% include "market/modalDetails.html" %}


		{% include "market/scripts.html" %}


	</body>
  <script>
		$("#cartCesta").off('click');
		history.pushState(null, null, location.href);
	    window.onpopstate = function () {
	        history.go(1);
	    };
		localStorage.clear();
  </script>
</html>
