{% load static %}
{% block content %}
  <!-- Header -->
  <style media="screen">
    .main-menu-m{
      padding-top:padding-top: 30px;
      padding-left:30px;
    }
    .main-menu-m>li{
      color:black
    }
    .main-menu-m>li>a{
      color:black
    }
    .main-menu-m>li>a>i{
      color:black
    }
    .fa-carne{
      background-image:url({% static "images/icons/meat.svg" %});
      background-repeat: no-repeat;
    }
    .fa-charcuteria{
      background-image:url({% static "images/icons/food.svg" %});
      background-repeat: no-repeat;
    }
    .fa-vive{
      background-image:url({% static "images/icons/food.svg" %});
      background-repeat: no-repeat;
    }
    .form-inline {
      position: relative;
      left: 150px;
      top: -50px;
      width: 660px;
    }
    .opcioneslist{
      position: relative;
      left: 780px;
      top: -120px;
      width: fit-content;
  }
  .wrap-icon-header-custom{
    position: relative;
    top: 20px;
    width: fit-content;
    left: 178px;
  }
  .menu-desktop{
    position: relative;
    top: -135px;
    left: 188px;
    width: fit-content;
  }

  </style>
  <header>
    <!-- Header desktop -->
    <div class="container-menu-desktop" style="background-color:#ffb700;">
      <!-- Topbar -->
      <div class="top-bar" style="height: 120px;background-color:transparent;">
        <div class="" style="top: 0px;">
          <nav class="container">

            <!-- Logo desktop -->
            <a href="/" class="logo" style="width: fit-content;">
              <img src="{% static "images/icons/criollo.png" %}" alt="IMG-LOGO" style="max-height:70px;">
            </a>

            <form class="form-inline d-flex justify-content-center mb-5">
              <input class="form-control form-control-sm mr-3 w-75 d-flex justify-content-center" type="text" placeholder="Buscar" aria-label="Buscar">
              <i class="fas fa-search active" aria-hidden="true"></i>
            </form>
            <div class="opcioneslist">
              {%if request.user and  user.is_anonymous != True %}
              <div class="btn-group" style="top:-7px;">
                <button class="btn btn-sm dropdown-toggle" style="max-width:230px;background:white;color:black;" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-fw fa-user"></i>{{request.user.first_name}} {{request.user.last_name}}
                </button>
                <div class="dropdown-menu" style="width: 100%;">
                  <h4 style="text-align: center;color: black;"class="dropdown-header"><b>Hola {{request.user.first_name}}</b></h4>
                  <h6 style="text-align: center;color: black;"class="dropdown-header">{{request.user}}</h6>
                  <div class="dropdown-divider"></div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/account">Cuenta</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout/">Cerrar sesion</a>
                </div>
              </div>
              {%else%}
                <a href="/account/" style="color:black;padding:20px;" class="">
                  <i class="fa fa-fw fa-user"></i> Ingresa
                </a>
                <a href="/account/register/user/" style="color:black" class="">
                  <i class="fas fa-user-plus"></i> Crear cuenta
                </a>
              {%endif%}
              <!-- Icon header -->
              <div class="wrap-icon-header-custom">
                <!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                  <i class="zmdi zmdi-search"></i>
                </div> -->

                <div style="color:black;" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" id="cartCesta" data-notify="0">
                  <i class="zmdi zmdi-shopping-cart"></i>
                </div>

                <!-- <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
                  <i class="zmdi zmdi-favorite-outline"></i>
                </a> -->
              </div>
            </div>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                  <li><a href="/all/"><i class="fas fa-home">&nbsp;Todos</i></a></li>
                  <li><a href="/viveres/"><i class="fa-vive">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viveres</i></a></li>
                  <li><a href="/charcuteria/"><i class="fa-charcuteria">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Charcuteria</i></a></li>
                  <li><a href="/carnes/"><i class="fa-carne">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Carnes</i></a></li>
                  </ul>

              <a href="/help/" class="" style="color:black">
                <i class="fa fa-fw fa-question"></i> Ayuda & Preguntas
              </a>
            </div>
          </nav>
        </div>
      </div>
        <div class="content-topbar flex-sb-m h-full container">
          <div class="left-top-bar">
          </div>
          <div class="" style="position: fixed;top: 30px;right: 230px;">
          </div>
        </div>
      </div>



    <!-- Header Mobile -->
    <div class="wrap-header-mobile" style="background-color:#ffb700;">
      <!-- Logo moblie  USAR SOLO EL CARRITO PARA Mobile Y ARREGAR TODO LO DEMAS-->
      <div class="logo-mobile">
        <a href="/"><img style="left:-20px;max-width:100%;max-height:130%;" src="{% static "images/icons/criollo.png" %}" alt="IMG-LOGO"></a>
      </div>

      <!-- Icon header -->
      <div class="wrap-icon-header flex-w flex-r-m">
        <form class="form-inline d-flex justify-content-center" style="width: 150px;">
          <input class="form-control form-control-sm mr-3 w-75 d-flex justify-content-center" type="text" placeholder="Burcar" aria-label="Buscar">
          <i class="fas fa-search active" aria-hidden="true"></i>
        </form>

        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" id="cartCesta2" data-notify="0">
          <i class="zmdi zmdi-shopping-cart"></i>
        </div>

      </div>

      <!-- Button show menu -->
      <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
      <ul class="topbar-mobile">
        <!-- Topbar -->
        <div class="top-bar" style="background-color:white;">
          <div class="content-topbar container">
            <div class="left-top-bar">

            </div>

            <div class="right-top-bar" >
              {%if request.user and  user.is_anonymous != True %}
              <div class="dropdown" style="cursor: pointer;color: #b2b2b2;">
                <a class="dropdown-toggle flex-c-m trans-04 p-lr-25" style="font-size: 9px;" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i>{{request.user}}
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu" style="width: 100%;z-index: 10000;background: #ECEBE5;">
                    <li><i class="fa fa-fw fa-cog"></i><a href="/account/">Cuenta</a></li>
                    <li><i class="fa fa-fw fa-power-off"></i><a href="/logout/">Cerrar Sesion</a></li>
                  </ul>
              </div>
              {%else%}
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <b>Bienvenido</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <a href="/account/" class="">
                      <i class="fa fa-fw fa-user"></i> Mi cuenta
                    </a>
                  </div>
                  <div class="col-7">
                    <a href="/help/" class="" style="">
                      <i class="fa fa-fw fa-question"></i> Ayuda & Preguntas
                    </a>
                  </div>
                </div>
              </div>

              {%endif%}

            </div>
          </div>
        </div>

      </ul>

      <ul class="main-menu-m" style="background-color:white">
        <li>
          <i class="fa fa-fw fa-home"></i><a href="/">Inicio</a>
        </li>
        <li>
          <i class="fa fa-fw fa-cogs"></i><a href="#">Categorias</a>
          <li style="color:black;"><a href="/all/"><i class="fas fa-store">&nbsp;Todos</i></a></li>
          <li style="color:black;"><a href="/viveres/"><i class="fas fa-utensils">&nbsp;Viveres</i></a></li>
          <li style="color:black;"><a href="/Charcuteria/"><i class="fas fa-cheese">&nbsp;Charcuteria</i></a></li>
          <li style="color:black;"><a href="/carnes/"><i class="fas fa-drumstick-bite">&nbsp;Carnes</i></a></li>
        </li>
      </ul>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
      <div class="container-search-header">
        <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
          <img src="{% static "images/icons/icon-close2.png"%}" alt="CLOSE">
        </button>

        <form class="wrap-search-header flex-w p-l-15">
          <button class="flex-c-m trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>
          <input class="plh3" type="text" name="search" placeholder="Search...">
        </form>
      </div>
    </div>
  </header>
{% endblock %}
