{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include "market/head.html" %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/reset.min.css" %}">
  <style media="screen">
		#loginSubmit{
			background:#6c7ae0
		}

  </style>

<body class="animsition" translate="no">
	{% include "market/header.html" %}
	{% if flag %}
		{% include "market/registerUser.html" %}
	{%else%}
		{% include "market/registerLogin.html" %}
	{%endif%}

  <!-- -->
	{% include "market/footer.html" %}
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	 <input id="flagReload" style="visibility:hidden;position:fixed;" value="0">
		{% include "market/scripts.html" %}
    <script>
  		window.console = window.console || function(t) {};
		</script>
    <!--<script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>-->
		<script src="{% static "js/codepent.js" %}"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <script src="{% static "js/easing.min.js" %}"></script>
		<!-- Login -->
		<script src="{% static "js/loginRegister.js" %}"></script>
		<!-- Registro dinamico -->
		<script src="{% static "js/registerDinamic.js" %}"></script>
	</body>
</html>
