{% load static %}
{% block content %}

<div class="container mt-5 mb-5">
  <style>
    .swal-button{
      background-color: transparent;
        border: 1px solid #ffb700;
        color: black;
    }
  </style>
  <div class="row">
    <div class="col-md-3"></div>
    <!-- seccion login -->
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header info-color white-text text-center py-4" style="background-color:#ffb700 !important">
          <strong style="color:black;">Iniciar sesión</strong>
        </h5>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-2">
          <!-- Form -->
          <form method="post" class="login text-center" style="color: #757575;">{% csrf_token %}
            <!-- Email -->
            <div class="md-form">
              <input type="email" id="materialLoginFormEmail" name="email" class="form-control">
              <label for="materialLoginFormEmail">E-mail</label>
            </div>
            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialLoginFormPassword" name="pass" class="form-control">
              <label for="materialLoginFormPassword">Clave</label>
            </div>
            <div class="d-flex justify-content-around">
              <div>
              </div>
              <div>
                <!-- Forgot password -->
                <p>¿Olvidaste tu clave?
                  <a style="color:black;" href="/restore/">Recuperar clave</a>
                </p>
              </div>
            </div>
            <!-- Sign in button -->
            <button style="color:black !important;border:2px solid #ffb700 !important" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" id="loginSubmit">Entrar</button>

            <!-- Register -->
            <p>¿No tienes cuenta?
              <a style="color:black;" href="/account/register/user/">Crear Cuenta</a>
            </p>
            <img src="{%static "images/logocar.webp" %}">
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
    <!-- fin seccion login -->
    <div class="col-md-3"></div>
</div>
</div>

{% endblock %}
