{% load static %}
<div class="bs-docs-example">
  <div class="row isotope-grid1">
    <!-- Productos -->
    {%for value in contacts%}
     <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
       <div class="block2">
         <div class="block2-pic hov-img0">
           <img style="border-radius:60px;" height="154" width="154" src="{{direction}}{{value.name_image}}" alt="IMG-PRODUCT">
           <!--modal=js-show-modal1 -->
           {%if value.cant != 0 %}
             <a href="#" style="left:25%;min-width: 10px;" data-image="{{direction}}{{value.name_image}}" data-name="{{value.name}}" data-cant="{{value.cant}}" data-price="{{value.price}}" data-pricebs="{{value.pricebs}}" data-id="{{value.id}}" data-description="{{value.description}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
               Detalles
             </a>
             <a href="#" style="left:70%;min-width:118px;" data-image="{{direction}}{{value.name_image}}" data-name="{{value.name}}" data-cant="{{value.cant}}" data-id="{{value.id}}" data-price="{{value.price}}" data-pricebs="{{value.pricebs}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 addModalCar" id="addItem">
               Añadir al <i class="zmdi zmdi-shopping-cart" style="margin-left: 5px;"></i>
             </a>
            {%else%}
              <label style="color:red;" class="block2-btn flex-c-m stext-103 size-102 bg0 bor2 p-lr-15 trans-04">
                No disponible
              </label>
            {%endif%}
         </div>
         <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l " style="width: 100%;">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2">{{value.name}}</a>
            <span class="stext-105 cl3">
              ${{value.price}}
             </span>
          </div>
          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <!-- <img class="icon-heart1 dis-block trans-04" src="{% static "images/icons/icon-heart-01.png" %}">
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static "images/icons/icon-heart-02.png" %}"> -->
            </a>
          </div>
         </div>
        </div>
      </div>
    {%endfor%}
</div>

<ul style="left: 40%;position: absolute;"class="pagination pagination-sm">
  {% if contacts.has_previous %}
  <li class="page-item">
    <!--<a class="page-link" href="?page=1">Primera</a>-->
    <a style="margin-right: -5px;margin-top: -3px;"class="page-link" href="?page={{ contacts.previous_page_number }}">«</a>
  </li>
  {% endif %}
  <span style="margin-left: 10px;"class="current">
    <label style="color:#007bff;">P&aacute;gina {{ contacts.number }} de {{ contacts.paginator.num_pages }}.</label>
  </span>
  {% if contacts.has_next %}
  <li class="page-item">
    <a style="margin-left: 4px;margin-top: -3px;" class="page-link" href="?page={{ contacts.next_page_number }}">»</a>
    <!--<a class="page-link" href="?page={{ contacts.paginator.num_pages }}">Ultima</a>-->
  </li>
  {% endif %}
</ul>
</div>
