{% load static %}
<div class="flex-w flex-sb-m p-b-52">
  <div class="flex-w flex-l-m filter-tope-group m-tb-10">
    <button id="allId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {%if all%}how-active1{%endif%}" data-filter="*">
      <a href="/all/">Todos los Productos</a>
    </button>

    <button id="viveresId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {%if viveres%}how-active1{%endif%}">
      <a href="/viveres/">Viveres</a>
    </button>

    <button id="frigorificoId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {%if charcuteria%}how-active1{%endif%}" data-filter=".bag">
      <a href="/charcuteria/">Charcuteria</a>
    </button>

    <button id="enaltadoId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {%if carne%}how-active1{%endif%}" data-filter=".bag">
      <a href="/carnes/">Carnes</a>
    </button>
    <button id="personalesId" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {%if personales%}how-active1{%endif%}" data-filter=".bag">
      <a href="/personales/">Personales</a>
    </button>
  </div>
  <!-- Search product -->
  <div class="dis-none panel-search w-full p-t-10 p-b-15">
    <div class="bor8 dis-flex p-l-15">
      <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
        <i class="zmdi zmdi-search"></i>
      </button>

      <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
    </div>
  </div>
</div>
